NEXT_PUBLIC_API_URL=https://api.amargarita.com/api
NEXT_PUBLIC_MEDIA_URL=https://api.amargarita.com
NEXT_PUBLIC_WHATSAPP_NUMBER=584124841521
RESEND_API_KEY=your_resend_key
RESERVATIONS_EMAIL=reservas@amargarita.com
